@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto&display=swap');


/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, 
button,
textarea{
    font:inherit; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
:root{  
     /* COLORS*/
    --BORDER-COLOR: #333;
    --BUTTON-COLOR: #fff;
    --BGCOLOR-FADE:rgb(252,220,160);
    --BGCOLOR:rgb(3, 11, 132);
    --BGIMAGE:linear-gradient(to bottom,
    var(--BGCOLOR), var(--BGCOLOR-FADE));
    --HERO-BGCOLOR: rgb(51, 178, 51, 0.75);
    --HERO-COLOR: #FFF;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-ACTIVE: orange;
    --LINK-COLOR: #000;
    --LINK-HOVER: #00000075;
    --NAV-BGCOLOR: #fff;
    --BODY-BGCOLOR:#fff;
    --FONT-COLOR:#000;
    --FONT-FAQ-COLOR: #232323;
    --HEADER-BGCOLOR:#000;
    --HEADER-COLOR:#fff;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
   
     /* FONTS */
    --FF: 'Roboto', sans-serif;
    --FF-HEADINGS: "fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* BORDERS */
    --BORDER:1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS:15px;
    
   /* STANDARD MARGIN */
   --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
    
}


/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.offscreen {
    position: absolute;
    left:-10000px;
}



/* GENERAL STYLE */
html{
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body{
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin:0 auto;
    border-left: var(--BORDER);
    border-right:var(--BORDER);
    box-shadow:0 0 10px var(--BORDER-COLOR) ;
   }

h1,
h2,
h3{
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2,
h3{
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p{
    line-height: 1.5;
}

a:any-link{
    color: var(--LINK-COLOR);
}

a:hover, a:focus-within{
    color:var(--LINK-HOVER);
}

a:active{
    color: var(--LINK-ACTIVE);
}

/* HEADERS */

.header{
    position:sticky;
    top: 0;
    z-index:1;
}

.header__h1{
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.header__nav{
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDER);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}


/* HERO */

.hero{
    position: relative;
}

.hero__h2{
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding:0.25em 0.5em ;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left:20px;
    animation: showmenu 0.5s ease-in-out 1s forwards;

}

@keyframes showmenu {
    0%{
        top: -20px;
        transform: skew(0deg,-5deg)
        scaleY(0);
    }
    80%{
        top: 30px;
        transform: skew(10deg, -5deg)
        scaleY(1.2);
    }
    100%{
        top:20px;
        transform: skew(-10deg, -5deg)
        scaleY(1);
    }
}
/* FOOTER */
.footer{
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/* MAIN*/
.main{
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article{
    scroll-margin-top:6.5rem ;
    margin: var(--MARGIN);
}

.main__article:first-child{
    margin-top: 1em;
}

.main__article:last-child{
    min-height: calc(100vh - 20rem);
} 

/*  ABOUT  */

.about__trivia{
    margin: var(--MARGIN);
}

.about__trivia-answer{
    margin: 1em;
}

/* CONTACT */

.contact__h2{
    margin: 0;
}

.contact__fieldset{
    border:none;
}

.contact__p{
    margin: 1em 0;
}

.contact__label{
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea{
    padding:0.5em;
    border-radius:var(--BORDER-RADIUS);
    border-width: 2px;
    width:100%   
}

.contact__button{
    padding:0.5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
}

/* TABLE MENU */
thead,
tbody,
tfoot,
tr{
    display: contents;
}

.menu__container{
    display: grid;
    grid-template-columns: repeat(3,
    1fr);
    grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
    gap: 0.1em;
    margin-bottom: 1em;
}

.menu__item{
    display: grid;
    place-content:center ;
}

.menu__cs{
    grid-area: cs;
}
.menu__cr {
    grid-area: cr;
}

.menu__sf {
    grid-area: sf;
}


.menu__cr,
.menu__sf,
.menu__cs,
.menu__header{
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center; 
}


.menu__header,
.menu__item{
    width: 100%;
    padding: 1em;
    border: medium ridge var(--BORDER-COLOR) ;
      
}

th:first-child{
    border-top-left-radius: var(--BORDER-RADIUS);
}

th:last-child {
    border-radius: 0 var(--BORDER-RADIUS) 0 0 ;
}

tfoot td{
    border-bottom-left-radius: var(--BORDER-RADIUS);
}

tfoot td {
    border-bottom-right-radius: var(--BORDER-RADIUS);
}

/* FAQ */
.faq__div{
    padding: var(--PADDING-SIDE);
    border: medium ridge var(--BORDER-COLOR);
    margin: var(--MARGIN); 
    
}

.faq__h3{
   color: var(--FONT-FAQ-COLOR);
   margin-bottom:0.5rem;

}

@media screen and (min-width: 576px){
    .header__h1::before{
        content:' 🐔'
    }
    .header__h1::after{
        content: '🐔'
    }
}

.menu__header,
.menu__cr,
.menu__sf,
.menu__cs{
    font-size: 125%;
}

@media (prefers-color-scheme: none) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: #000;
        --BODY-BGCOLOR: #333;
        --BORDER-COLOR: whitesmoke;
        --BUTTON-COLOR: black;
        --FONT-COLOR: whitesmoke;
        --HEADER-COLOR: whitesmoke;
        --HERO-COLOR: #333;
        --HIGHLIGHT-COLOR: whitesmoke;
        --LINK-ACTIVE: rgba(255, 166, 0, 0.673);
        --LINK-COLOR: whitesmoke;
        --LINK-HOVER: orange;
        --NAV-BGCOLOR: rgb(81, 79, 79);

    }
}